.post_root_box {
    display: flex;
    align-items: center;
    flex-direction: column;

    overflow: auto;
}

.post_main_content_box {
    display: flex;
    justify-content: center;
    width: 1484px;
    margin: 10px 10px 20px 48px;
    gap: 24px;
}

/*  side widget으로 인해 main content가 중앙 정렬 되지 않는 문제를 해결하는 요소 */
.balance_weight_box {
    width: 200px;
    height: 100%;
}

.post_center_content_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.comment_edit_box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 1034px;
    height: 100px;
}

.comment_edit_textarea {
    width: 954px;
    height: 78px;
    padding: 10px;
    margin: 0px;

    font-size: 16px;
    
    border: 1px solid #0090F9;
    border-radius: 20px;

    resize: none;
}

.comment_edit_box_send_icon {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.comment_edit_box_send_icon:hover {
    cursor:pointer;
}

/* 크기 감소 단게 */
@media (min-width: 1300px) and (max-width: 1500px) {
    /* main content box */
    .post_main_content_box {
        width: 100%;
        gap: 16px; 
    }

    .balance_weight_box {
        display: none;
    }
}
@media (min-width: 450px) and (max-width: 1300px) {
    /* main content box */
    .post_main_content_box {
        width: 100%;
        gap: 16px; 
    }

    .post_center_content_box {
        width: 80%;
    }

    .board_content_list_box,
    .comment_edit_box,
    .board_tail_box {
        width: 100%;
    }

    .balance_weight_box {
        display: none;
    }
}

@media (max-width: 640px) {
    .post_main_content_box {
        margin-bottom: 84px;
    }
}