@font-face {
    font-family: 'NanumGothicExtraBold';
    src: url('/public/fonts/NanumGothicExtraBold.woff2') format('woff2'),
        url('/public/fonts/NanumGothicExtraBold.woff') format('woff'),
        url('/public/fonts/NanumGothicExtraBold.ttf') format('truetype');
    font-weight: bold; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumGothicBold';
    src: url('/public/fonts/NanumGothicBold.woff2') format('woff2'),
        url('/public/fonts/NanumGothicBold.woff') format('woff'),
        url('/public/fonts/NanumGothicBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('/public/fonts/NanumGothic.woff2') format('woff2'),
        url('/public/fonts/NanumGothic.woff') format('woff'),
        url('/public/fonts/NanumGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumGothicLight';
    src: url('/public/fonts/NanumGothicLight.woff2') format('woff2'),
        url('/public/fonts/NanumGothicLight.woff') format('woff'),
        url('/public/fonts/NanumGothicLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
}

.board_root_box {
    display: flex;
    align-items: center;
    flex-direction: column;

    overflow: auto;
}

.board_main_content_box {
    display: flex;
    justify-content: center;
    width: 1484px;
    margin: 10px 10px 20px 48px;
    gap: 24px;
}

/*  side widget으로 인해 main content가 중앙 정렬 되지 않는 문제를 해결하는 요소 */
.balance_weight_box {
    width: 200px;
    height: 100%;
}

.board_center_content_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.board_tail_box {
    display: flex;
    justify-content: end;
    width: 1034px;
}

/* 게시글 작성 button */
.board_post_edit_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: #0090F9;
    border-radius: 10px;
    font-size: small;
    color:white;
    font-weight: bold;
}

.board_post_edit_button:hover {
    cursor: pointer;
}

.board_post_edit_button_text {
    color: white;
    text-decoration: none;
}

/* 크기 감소 단게 */
@media (min-width: 1300px) and (max-width: 1500px) {
    /* main content box */
    .board_main_content_box {
        width: 100%;
        gap: 16px; 
    }

    .balance_weight_box {
        display: none;
    }
}

@media (min-width: 450px) and (max-width: 1300px) {
    /* main content box */
    .board_main_content_box {
        width: 100%;
        gap: 16px; 
    }

    .board_center_content_box {
        width: 80%;
    }

    .board_content_list_box,
    .board_tail_box {
        width: 100%;
    }

    .balance_weight_box {
        display: none;
    }
}

@media (max-width: 640px) {
    .board_main_content_box {
        margin-bottom: 84px;
    }
    .board_tail_box {
        display: none;
    }
}