/* page root box */
.postedit_root_box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* main content box */
.post_edit_main_content_box {
    display: flex;
    justify-content: center;
    width: 1484px;
    margin: 10px 10px 20px 48px !important;
    gap: 24px;
}

/*  side widget으로 인해 main content가 중앙 정렬 되지 않는 문제를 해결하는 요소 */
.balance_weight_box {
    width: 200px;
    height: 100%;
}

.post_edit_center_content_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1036px;
    gap: 10px;
}

.post_edit_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.post_title_input_box {
    width: 1034px;
    height: 40px;
    margin: 0px;
    /* padding: 10px 0px 0px 10px; */
    /* NanumGothicBold 적용 */
    font-family: 'NanumGothicBold', sans-serif;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    resize: none;
    overflow: hidden;
    line-height: 40px;
    
   
    background-color: white;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
}

.post_content_box {
    width: 1036px;
}

.sub_box_title {
    font-family: 'NanumGothicBold', sans-serif;
}

/* quill editor */
.ql-toolbar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ql-container {
    height: 500px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.post_button_box {
    display: flex;
    width: 1036px;
    justify-content: space-between;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: #0090F9;
    border-radius: 12.5px;
    font-size: small;
    color:white;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
}

.cancle_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    border: 1px solid #BDBDBD;
    background-color: white;
    color:black;
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
}

.cancle_button:hover {
    cursor: pointer;
}

.post_tail_stub_box {
    width: 1036px;
    height: 100px;
}

/* 크기 감소 단게 */
@media (min-width: 1300px) and (max-width: 1500px) {
    /* main content box */
    .post_main_content_box {
        width: 100%;
        gap: 16px; 
    }

    .balance_weight_box {
        display: none;
    }

    .post_edit_center_content_box
    .post_title_box
    .post_edit_box
    .post_title_input_box {
        width: 100%;
    }
}

@media (max-width: 1300px) {
    /* main content box */
    .post_main_content_box {
        width: 100%;
        gap: 16px; 
    }

    .balance_weight_box {
        display: none;
    }

    .post_edit_main_content_box {
        width:100%;
    }

    .post_edit_center_content_box {
        width:80%;
    }

    .post_edit_box,
    .board_title_box,
    .post_edit_box,
    .post_content_box,
    .post_title_input_box, 
    .quill,
    .ql-toolbar,
    .ql-container {
        width: 100%;
    }

    .post_button_box {
        width: 100%;
    }   
}

@media (max-width: 640px) {
    .post_edit_main_content_box {
        margin-bottom: 84px;
    }
}