/* PostEdit 페이지 기본 컨테이너 */
.postedit_root_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

.post_edit_main_content_box {
    display: flex;
    justify-content: center;
    width: 1484px;
    margin: 10px 10px 20px 48px;
    gap: 24px;
}

/*  side widget으로 인해 main content가 중앙 정렬 되지 않는 문제를 해결하는 요소 */
.balance_weight_box {
    width: 200px;
    height: 100%;
}

.post_edit_center_content_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.post_edit_box {
    display: flex;
    flex-direction: column;
    width: 1034px;
    gap: 20px;
}

.post_title_input_box {
    width: 1012px;
    height: 60px;
    padding: 10px;
    margin: 0px;

    font-size: 16px;
    
    border: 1px solid #0090F9;
    border-radius: 20px;

    resize: none;
}

.post_content_box {
    width: 1034px;
}

.sub_box_title {
    font-size: 20px;
    margin-bottom: 10px;
}

.ql-toolbar {
    border-top: 1px solid #0090F9!important;
    border-left: 1px solid #0090F9!important;
    border-right: 1px solid #0090F9!important;
}

.ql-container {
    border-bottom: 1px solid #0090F9!important;
    border-left: 1px solid #0090F9!important;
    border-right: 1px solid #0090F9!important;
    height: 200px;
}

.post_button_box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: #0090F9;
    border-radius: 10px;
    font-size: small;
    color:white;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
}

.cancle_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: white;
    border: 1px solid #0090F9;
    border-radius: 10px;
    font-size: small;
    color:#0090F9;
    font-weight: bold;
}

.cancle_button:hover {
    cursor: pointer;
}

.post_tail_stub_box {
    width: 100%;
    height: 100px;
}

/* 크기 감소 단게 */
@media (min-width: 1300px) and (max-width: 1500px) {
    /* main content box */
    .post_edit_main_content_box {
        width: 100%;
        gap: 16px; 
    }

    .balance_weight_box {
        display: none;
    }

    .post_edit_center_content_box {
        width: 80%;
    }

    .post_edit_box,
    .post_title_input_box,
    .post_content_box {
        width: 100%;
    }
}

@media (min-width: 450px) and (max-width: 1300px) {
    /* main content box */
    .post_edit_main_content_box {
        width: 100%;
        gap: 16px; 
    }

    .balance_weight_box {
        display: none;
    }

    .post_edit_center_content_box {
        width: 80%;
    }

    .post_edit_box,
    .post_title_input_box,
    .post_content_box {
        width: 100%;
    }

    .post_button_box {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 640px) {
    .post_edit_main_content_box {
        margin-bottom: 84px;
    }
}